@tailwind base;
@tailwind components;
@tailwind utilities;

.flex {
  display: flex;
}
.gap-1{
  gap: 1rem;
}
.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}
.justify-start{
  justify-content: flex-start;
}
.h-screen {
  height: 100vh;
}
.absolute {
  position: absolute;
}
.w-full{
  width: 100%;
}
.ml-4{
  margin-left: 1rem;
}
.mb-2{
  margin-bottom: 0.5rem;
}
.object-cover{
  object-fit: cover;
}
.max-h-60{
  max-height: 15rem;
}
.space-x-2{
  gap: 0.5rem;
}
.relative{
  position: relative;
}